<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>로그인 되었습니다</h1>
</head>
<body>
<div class="container">
    <h2>기능을 선택해주세요(더 추가예정)</h2>


    <div>
            <button type="button" onclick="location.href='/member'">1. 회원 정보 조회</button>
            <button type="button" onclick="location.href='/car'">2. 차량 정보 조회</button>
            <button type="button" onclick="location.href='/reservation'">3. 예약하기</button>
            <button type="button" onclick="location.href='/logout'">4. 로그아웃</button>
    </div>

</div>
</body>
</html>
