<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>로그인 되었습니다</h1>
</head>
<body>
<div class="container">
    <h2>기능을 선택해주세요</h2>

    <div>
            <button type="button" onclick="location.href='/function/1'">1. 회원 정보 조회</button>
            <button type="button" onclick="location.href='/function/2'">2. 현재 정산 요금</button>
            <button type="button" onclick="location.href='/function/3'">3. 주차권 구매</button>
            <button type="button" onclick="location.href='/function/5'">4. 게시판(관리자-등록)</button>
            <button type="button" onclick="location.href='/logout'">5. 로그아웃</button>
    </div>

</div>
</body>
</html>
