<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <title>Test Page</title>
    <meta charset="UTF-8">
</head>
<body>
<div class ="container">

    <div>
        <h1>Test Page</h1>
        <!-- 학생 등록 양식 -->
        <form action="/api/register/member" method="post">
            <h2>학생 등록</h2>
            <input type="number" name="mno" placeholder="멤버번호">
            <input type="password" name="password" placeholder="비밀번호">
            <input type="phone_number" name="pno" placeholder="휴대폰번호">
            <input type="submit" value="등록">
        </form>

        <!-- 자동차 등록 양식 -->
        <form action="/api/register/car" method="post">
            <h2>자동차 등록</h2>
            <input type="text" name="cno" placeholder="차량번호">
            <input type="number" name="mno" placeholder="멤버번호">
            <input type="submit" value="등록">
        </form>

        <!-- 로그인 양식 -->
        <form action="/api/login" method="post">
            <h2>로그인</h2>
            <input type="number" name="mno" placeholder="멤버번호">
            <input type="password" name="password" placeholder="비밀번호">
            <input type="submit" value="로그인">
        </form>
    </div>
</div>
</body>
</html>